.header__square-pic {
  background-color:  #2f80ed;
  position: absolute;
  height: 568px;
  width: 568px;
  right: 0;
  top: 64px;
  z-index: 3;
}

.rotation {
  animation: rotation linear infinite 20s;
}
