
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}


.header {
  background-color: #f2f2f2;
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;

  /* выше установили ограничения для секции */
}


.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  width: 183px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 3;
}

.header__title {
  width: 730px;
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  margin:0;
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 10;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;
  width: 765px;
  height: 608px;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  background-color:  #2f80ed;
  position: absolute;
  height: 568px;
  width: 568px;
  right: 0;
  top: 64px;
  z-index: 0;
}

.description{

  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 100px;
}

.two-columns__brief {
  margin-top:30px;
  color: #2f80ed;
  width: 175px;
  line-height:1.2;
  font-size: 18px;
  font-weight: normal;


}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;

}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph__margin{
  margin-top: 30px;
  margin-bottom: 30px;
}


.two-columns__span-accent {
  font-weight: bold;
  line-height: 34px;
  font-size: 24px;

}


.digits{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.section-title{
  margin:0;
  width: 60%;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle{
  margin: 0;
  width: 60%;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table{
  padding-left: o;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  list-style: none;
  margin-top: o;
}

.table__cell{
  width: 250px;
  justify-content: space-around;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
}

.table__text {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.table__span {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}


.feynman {

  min-height: 790px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  background-position: left bottom;
  background-repeat: no-repeat;
}

.feynman__image {
  background-image: url(../images/feynman.png);
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.feynman__title {
  width: 648px;
  margin: 100px auto 0;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  margin: 70px auto 0;
  text-align: center;
  justify-content: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;

}

.feynman__link {
  position: absolute;
  right: 48px;
  bottom: 50%;
  text-decoration: none;
  color: black;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  z-index: 5;
  margin-top: 80px;
}

.table_theme_dark {
  z-index: 5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.kaufman {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-bottom: 90px;
  overflow: hidden;
  position: relative;
}


.section-title_theme_dark{
  padding-top: 90px;
  font-size: 69px;
  text-align: center;
  margin: 0;
}

.section-subtitle_theme_dark {
  width: 60%;
  padding-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 0;
}

.table__heading_theme_dark {
  margin: 0;
  text-align: left;
  font-weight: bold;
  line-height: 1.15em;
  font-size: 24px;

}

.table__text_theme_dark {
  margin: 0;
  padding-top: 20px;
  line-height: 1.2em;
  font-size: 18px;
  font-weight: normal;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  position: absolute;
  z-index: 0;
  right: -210px;
  width: 877px;
  height: 877px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #1f1f1f;
  color: white;
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 350px;
}

.footer__columns {
  display: flex;
  width: 90%;
  justify-content: space-between;

}
.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  padding: 16px 0;
  font-weight: normal;
  line-height: 25px;
  font-size: 18px;
}


.footer__column-heading {
  margin: 0;
  padding-bottom: 20px;
  font-weight: bold;
  line-height: 30px;
  font-size: 18px;
}

.footer__column-links {
  padding-bottom: 16px;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  font-weight: normal;
  line-height: 30px;
  font-size: 18px;
}

.footer__link {
  color: #fff;
  text-decoration:none;
}


.footer__social-icon {
 width: 16px;
 height: 16px;
 margin-right:10px;
}
